body {
	margin: 0;
}
p {
	display: inline;
}
input {
	width: 70%;
	padding: 0 20%;
}
.h-el {
	display: inline;
	padding-left: 5px;
}
#hdr-right {
	float: right;
	padding: 0 30px
}
button {
	height: 100%
	
}
#header {
	height: 10%;
	width: 100%
	top: -295px;
	text-align: center;
	
	
}
.apps {
	background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-size: 528px 68px;
}
#logo {
	position: relative;
	margin: auto;
}
#searchElements {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
}