#container {
	position: fixed;
	height: 100%;
	width: 100%;
}
#ctr-el{
  	margin-top: 13.5%;
  	margin-left: auto;
	margin-right: auto;
}
#logo, #search-bar, #search-btns {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
#search-bar {
	margin-top: 20px;
	padding-top: 20px;
	width: 600px;
	border: none;
	outline-width: medium;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#search-btns {
	display: inline-flex;
	width: 600px;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 20px;
}

#search-btns button {
	margin-left: 5px;
  
}
#GoogleSearchButton {
	position: absolute;
	left: 150px;
}
#FeelingLuckyButton {
	position: absolute;
	left: 300px;
}
#header #header-elements{
	display: inline-flex;
	float: right;
	margin-right: 30px;
    margin-top: 15px;
	
}
#header #header-elements p, #header #header-elements img, #header #header-elements button {
	float: right;
	padding-right: 15px;
	margin: 0;
}
#footer {
    position: fixed;
    bottom: 0;
}
#footer-bottom-left, #footer-bottom-right {
	display: inline-flex;
}
#footer-bottom-left {
	float: left;
}
#footer-bottom-right {
	float: right;
}
#footer p 
{
	padding-left: 15px;
	padding-right: 15px;
}